Source: ros-kinetic-turtlebot
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@rnd.yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/turtlebot
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-turtlebot-bringup, ros-kinetic-turtlebot-capabilities, ros-kinetic-turtlebot-description, ros-kinetic-turtlebot-teleop
Description: The turtlebot meta package provides all the basic drivers for running and using a TurtleBot.
