Source: ros-kinetic-turtlebot-bringup
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/turtlebot_bringup
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-astra-launch, ros-kinetic-create-node, ros-kinetic-depthimage-to-laserscan, ros-kinetic-diagnostic-aggregator, ros-kinetic-freenect-launch, ros-kinetic-kobuki-bumper2pc, ros-kinetic-kobuki-capabilities, ros-kinetic-kobuki-node, ros-kinetic-kobuki-safety-controller, ros-kinetic-laptop-battery-monitor, ros-kinetic-openni2-launch, ros-kinetic-robot-pose-ekf, ros-kinetic-robot-state-publisher, ros-kinetic-rocon-app-manager, ros-kinetic-rocon-bubble-icons, ros-kinetic-turtlebot-capabilities, ros-kinetic-turtlebot-description, ros-kinetic-yocs-cmd-vel-mux, ros-kinetic-zeroconf-avahi
Description: turtlebot_bringup provides roslaunch scripts for starting the TurtleBot base functionality.
